.navigation-bar {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 15px;
  .app-title {
    font-size: 36px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @import './menu.scss';
}
