.elevation-legend {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;

  p {
    font-size: 14px;
  }

  .legend-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    .indicator {
      height: 15px;
      width: 15px;
      border-radius: 5px;
      margin-right: 3px;
      border: 1px solid black;
      &.ten-m {
        background-color: $ten-m;
      }
      &.twenty-m {
        background-color: $twenty-m;
      }
      &.thirty-m {
        background-color: $thirty-m;
      }
      &.forty-m {
        background-color: $forty-m;
      }
      &.fifty-m {
        background-color: $fifty-m;
      }
      &.sixty-m {
        background-color: $sixty-m;
      }
      &.seventy-m {
        background-color: $seventy-m;
      }
      &.eighty-m {
        background-color: $eighty-m;
      }
      &.ninty-m {
        background-color: $ninty-m;
      }
      &.hundred-m {
        background-color: $one-hundred-m;
      }
    }
  }
}
