#__next,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  div {
    box-sizing: border-box !important;
    &.container {
      width: 100%;
      height: 100%;
    }
  }
}

@import '../styles/index.scss';
